@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100%;
    background-image: linear-gradient(90deg, #e3f2fd, #bbdefb, #90caf9);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, #90caf9, #bbdefb, #e3f2fd);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: sticky;
    top: 0;
  }

  #logo {
    width: 75px;
    border-radius: 37.5px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 6px #cbf3f0;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 2rem;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    color: black;
    text-shadow: 0 0 3px black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.2s ease;

  }
  
  .menu li a:hover,
  .menu li a.active{
    background-color: black;
    text-shadow: 0 0 3px orange;
    color: orange;
  }

  .home{
    height: 700px;
    text-align: center;
    margin-top: 250px;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
   .home span{
    color: black;
    text-shadow: 0 0 3px black;
}

#AboutUs{
    height: 700px;
    background-image: linear-gradient(90deg, #90caf9, #bbdefb, #e3f2fd);
    display: inline-block;
    width: 100%;

}
#Contact{
    height: 700px;
    background-image: linear-gradient(90deg, #e3f2fd, #bbdefb, #90caf9);
    display: inline-block;
    width: 100%;
}
#Project{
    height: 700px;
    background-image: linear-gradient(90deg, #90caf9, #bbdefb, #e3f2fd);
    display: inline-block;
    width: 100%;
}
#AboutUs h1{
    text-align: center;
    margin-top: 250px;
    font-size: xx-large;
    font-weight: bolder;
}
#AboutUs p{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
#AboutUs p span{
    color: black;
    text-shadow: 0 0 3px black;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 13%;
    color: black;
    text-shadow: 0 0 3px black;
    font-family: 'poppins', sans-serif;
    position: absolute;
    left: 15% ;
}
.valiente-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.box h1{
    font-size: 33px;
    letter-spacing: 1.2px;
    font-weight: 100;
}
.box ul{
    margin: 0px;
    padding: 0px;
}
.box ul li{
    display: inline-block;
    margin: 15px;
    list-style: none;
}
.box ul li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.2s ease;
}
.box ul li a:hover{
    color: rgb(1, 162, 226);
}

.box1{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 13%;
    color: black;
    text-shadow: 0 0 3px black;
    font-family: 'poppins', sans-serif;
    position: absolute;
    left: 55%;

}
.bellina-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.box1 h1{
    font-size: 33px;
    letter-spacing: 1.2px;
    font-weight: 100;
}
.box1 ul{
    margin: 0px;
    padding: 0px;
}
.box1 ul li{
    display: inline-block;
    margin: 15px;
    list-style: none;
}
.box1 ul li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.2s ease;
}
.box1 ul li a:hover{
    color: rgb(1, 162, 226);
}

.james{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 13%;
    color: black;
    text-shadow: 0 0 3px black;
    font-family: 'poppins', sans-serif;
    position: absolute;
    left: 15% ;
}
.james-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.james h1{
    font-size: 33px;
    letter-spacing: 1.2px;
    font-weight: 100;
}
.james ul{
    margin: 0px;
    padding: 0px;
}
.james ul li{
    display: inline-block;
    margin: 15px;
    list-style: none;
}
.james ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 30px;
    transition: color 0.2s ease;
}
.james ul li a:hover{
    color: orange;
    padding: 4px 10px;
    background-color: black;
    text-shadow: 0 0 3px orange;
}

.addy{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 13%;
    color: black;
    text-shadow: 0 0 3px black;
    font-family: 'poppins', sans-serif;
    position: absolute;
    left: 55%;

}
.addy-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.addy h1{
    font-size: 33px;
    letter-spacing: 1.2px;
    font-weight: 100;
}
.addy ul{
    margin: 0px;
    padding: 0px;
}
.addy ul li{
    display: inline-block;
    margin: 15px;
    list-style: none;
}
.addy ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 30px;
    transition: color 0.2s ease;
}
.addy ul li a:hover{
    color: orange;
    padding: 4px 10px;
    background-color: black;
    text-shadow: 0 0 3px orange;
}