*{
    padding: 0px;
    background-image: linear-gradient(90deg, #e3f2fd, #bbdefb, #90caf9);
  }
  .cover{
      width: 100%;
  }
  .item ul li{
      letter-spacing:1px;
      font-size: 15px;
      font-weight: bold;
  }
  .item ul li a{
      color: blue;
  }
  .item p s{
      color: red;
  }
  .bag1{
      width: 250px;
      height: 250px;
  }
  .bag2{
    width: 250px;
    height: 250px;
  }
  .bag3{
    width: 250px;
    height: 250px;
  }
  .bag4{
    width: 250px;
    height: 250px;
  }
  .item p{
      letter-spacing:0.8px;
      font-size: 14px;
      font-weight: bold;
  }
  .by b{
      letter-spacing:1px;
      font-size: 18px;
      font-weight: bold;
  }